extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/recipes" method="post")
    label(for="recipeUrl") Recipe URL 
      input(type="text" name="url")
    button(type="submit") Submit
